body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: url("https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;

}


/* fix stop button */



#container{
    width: 100%;
    height: 100%;
}




#title{
    display: flex;
    
    color: white;
    /* margin-bottom: 140px; */
    /* background-color: turquoise; */
    font-size: 10em;
    
    justify-content: center;
}

#sidebar{
    grid-area: sidebar;
    /* background-color: violet; */
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    align-items: center;

    
}

#sidebar button{
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    text-align: center;
}

#hrz_line{
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 10px 0;
}


#start{
    display: block;
    margin-top: 10px;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    font-size: 25px;
    background-color: #111;
    color: white;
}

#sidebar button:hover{
    color: #111;
    background-color: white;
}


#sidebar #stop{
    display: none;
}

#sidebar #restart{
    display: none;
}

#sidebar button:active{
    background-color: turquoise;
}

#sidebar #p1{
    font-size: 3em;
    color: #fff;
}

#sidebar #p2{
    font-size: 3em;
    color: #fff;
}

#game{
    margin-top: 50px;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-bottom: 50px;
    
}

#border_white{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 30vh;
    width: 25vw;
    background-color: white;
    border-radius: 50px;
    text-align: center;

}

#game table{
    table-layout: fixed;
}

#game table td{
    width: 120px;
    height: 120px;
    /* border: 1px solid black; */
    text-align: center;
    
}

.vert {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  .hori {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

#game table td:hover{
    background-color:paleturquoise;
}

#game table td:active{
    background-color: red;
}


#game #user_select{
    display: flex;
    font-size: 60px;
    justify-content: flex-start;
    color: white;
    margin-bottom: 30px;
}


#board tr td{
    color: white;
}




@media screen and (max-width: 700px){

    #container{
        overflow:visible;
    }


    #title{
        font-size: 30px;
    }

    #sidebar #p1{
        font-size: 20px;
    }


    #sidebar #p2{
        font-size: 20px;
    }

    #sidebar #stop{
        padding: 10px 10px;
    }

    #sidebar #restart{
        padding: 10px 10px;
    }

    #game #user_select{
        display: flex;
        font-size: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }

    #game #user_select tr{
        display: inline;
    }


    #game table td{
        width: 100px;
        height: 60px;
        text-align: center;
        
    }


    #board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#board tr td{
    font-size: 40px;
}


    


    

}



